.input_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input */
.input {
  width: 100%;
  border: 1.3px solid rgb(193, 193, 193);
  border-radius: 5px;
  padding: 0 0 0 15px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.filled_input {
  width: 100%;
  height: 40px;
  border: 1.5px solid rgb(241, 243, 245);
  background-color: rgb(241, 243, 245);
  border-radius: 5px;
  padding: 0 0 0 15px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.unstyled_input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 0 0 0 15px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus,
.filled_input:focus,
.unstyled_input:focus {
  border-color: rgb(42, 110, 255);
  outline: none;
}

.input::placeholder,
.filled_input::placeholder,
.unstyled_input::placeholder {
  color: rgb(193, 193, 193);
  transition: color 0.3s ease;
  font-size: 14px;
}

/* label input */
.label_container {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: left;
}

.label {
  font-size: 14.5px;
  font-weight: 600;
  margin-bottom: -6px;
}

.description {
  font-size: 11px;
  color: gray;
  margin-bottom: 4px;
}

.error {
  font-size: 11px;
  color: red;
  margin-top: 5px;
}

.error_input {
  border-color: red;
}

.disabled_input {
  background-color: rgb(247, 247, 247);
  cursor: not-allowed;
}

/* clear button */
.clear_button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: gray;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: color 0.3s ease;
  width: 30px;
  height: 30px;
}

.clear_button:hover {
  border: 1px solid rgba(228, 228, 228, 0.651);
  background-color: rgba(228, 228, 228, 0.651);
  border-radius: 5px;
}

/* dropdown */
.dropdown {
  width: 300px;
  border-radius: 5px;
  border: 1.3px solid rgb(193, 193, 193);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path fill="black" d="M5 7 L0 2 L10 2 Z"/></svg>')
    no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 8px 8px;
  transition: border-color 0.3s ease;
}

.filled_dropdown {
  border: 1.5px solid rgb(241, 243, 245);
  width: 300px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(241, 243, 245)
    url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path fill="black" d="M5 7 L0 2 L10 2 Z"/></svg>')
    no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 8px 8px;
  transition: border-color 0.3s ease;
}

.dropdown:focus,
.filled_dropdown:focus {
  border-color: rgb(42, 110, 255);
  outline: none;
}
